page-home {

}

.ion-input-select--cor {

}

ion-select {
	max-width: 100%;
}

ion-grid {
	padding-top: 15px;
	border-radius: 5px;
	box-shadow: 10px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


