page-home {

	.btn-vid{
		max-width: 95%;
		margin: 2.5vw;
	}

	.button-inner {
		font-size: 3vw;
	}

	.img-vid-small{
		width: 100%;
		height: 38vw;
	}

	/*ion-list {
		box-shadow: 0px 4px 3px -1px rgba(0,0,0,0.42);
	}*/

	ion-select {
		max-width: 100%;
	}

	.login{
	    background-color: #d9d0c7;
	}

	.select-md{
		width: 100%;
	}

	.select-md .select-icon {
	    position: relative;
	    width: 10%;
	    height: 19px;
	}

	.sombra-select{
		box-shadow: 0px 4px 3px -1px rgba(0,0,0,0.42);
	}

	.select-text{
		font-size: 3.8vw;
	}

	.vid-font{
		font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
		font-size: 3.8vw;
		font-weight: bold;
		color: #9c9c9c;
	}

	.vid-font-small{
		font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
		font-size: 2.6vw;
		color: #9c9c9c;
		margin-top: 0.5vw;
	}

	.vid-icon{
		font-size: 7vw;
		color: #9c9c9c;
	}

	.hr {
		margin-right: auto;
		margin-left: auto;
		display: block;
	  	border-bottom: 1px solid black;
	  	width: 92%;
	}

	.button-md-light{
		width: 100%;
		font-size: 11px;
	}

	.no-margin{
		margin: 0;
	}

	.vid-left {
	    z-index: 10000;
	    left: -5px;
	}

	/*.sombra-general{
		box-shadow: -5px 0px 11px -2px rgba(61,61,61,1);
	}*/

	/*.sombra-general{
		box-shadow: -5px 4px 3px -1px rgba(0,0,0,0.42);
	}*/

	.sombra-general{
		box-shadow: -4px 4px 3px -1px rgba(0,0,0,0.42);
	}

	.sombra-seccion{
		box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.30);
	}

	.sombra-seccion-fuerte{
		box-shadow: 0px 0px 0px 10px rgba(0,0,0,0.100);
	}

	#padre {
	    display: table;
	    height: 100%;
	}

	#padre-select {
	    display: table;
	    width: 100%;
	    height: 100%;
	}

	#hijo {
	    display: table-cell;
	    vertical-align: middle;
	}

	.bg-vid{
	    background:url('../img/fondoVideos2.png') no-repeat;
		background-size: cover;
		background-position: center;
	}

	.vid-small{
		width: 100%;
		height: 20vw;
	}

	.margin-top-1{
		margin-top: 4vw;
	}

	.margin-top-2{
		margin-top: 1.5vw;
	}

	.font-title{
		margin-left: 4vw;
		margin-top: 7vw;
		font-size: 4.5vw; 
		font-weight: bold;
	}
}

	.list-md {
    	margin: 0;
	}

	.toolbar-background-md{
		background-color: #383938;
	}

	.toolbar-title-md {
    	color: white;
	}
	
	#misvideos{
	padding-top:10px;
	margin-top: -1%;
    z-index: 10000000;
    position: relative;
    background-color:#fff ;
    border: 1px solid #ffffff; 
    margin-left:25px; 
	margin-left:0px; 
    -webkit-box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    0px -4px 3px rgba(50, 50, 50, 0.5);
    box-shadow:         0px -4px 3px rgba(50, 50, 50, 0.5);
	padding-left: 20px;
	}
	
	#misvideos2:after {
    content:"";
    position:absolute;
    width:100%;
    top:25px;
	left:0px;
    z-index:10000001;
    transform:scale(.9);
    background-color:white;
	height:100px;
	}
	
	#columna-ejemplos{
		background-color: white;
		margin:0px;
		margin-left:-0.1%;
		
		-webkit-box-shadow: -2px 0px 6px 1px rgba(65,65,65,1);
		-moz-box-shadow: -2px 0px 6px 1px rgba(65,65,65,1);
		box-shadow: -2px 0px 6px 1px rgba(65,65,65,1);
	}

	#columna-video-actual{
		padding:0px;
		margin:0px;
		vertical-align: middle;
		background:url('../img/Gambeta.jpg') no-repeat;
		background-size:100% auto;
		text-align:center;
	}
	
	#contenedor-video-actual{
		padding:0px;
		margin-top:-6%;
		position: relative;
		z-index:1;
	}
	
	#gridSuperior{
		padding-top:10px;
		z-index: 10000005;
	    position: relative;
	    background-color:#fff ;
	    border: 1px solid #ffffff; 
	    margin-left:25px; 
		margin-left:0px; 
     	background-color:#fff ;
	    border: 1px solid #ffffff; 
	    margin-left:25px; 
		margin-left:0px; 
	    -webkit-box-shadow: 0px 4px 3px rgba(50, 50, 50, 0.5);
	    -moz-box-shadow:    0px 4px 3px rgba(50, 50, 50, 0.5);
	    box-shadow:         0px 4px 3px rgba(50, 50, 50, 0.5);
	}
	
	
	#btn_play{
		
		height: 30vw;
		margin-top: 32.5%;
		opacity: 0.55;
	}