page-descripcion {

	/*ion-list {
		box-shadow: 0px 4px 3px -1px rgba(0,0,0,0.42);
	}*/

	.select-md{
		width: 100%;
	}

	.select-md .select-icon {
	    position: relative;
	    width: 10%;
	    height: 19px;
	}

	.sombra-select{
		box-shadow: 0px 4px 3px -1px rgba(0,0,0,0.42);
	}

	ion-select {
		max-width: 100%;
	}

	.btn-alone{
		font-size: 3.5vw;
		max-width: 50%;
	}

	.vid-font{
		font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
		font-size: 3.8vw;
		color: #9c9c9c;
	}

	.vid-font-small{
		font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
		font-size: 2.8vw;
		color: #9c9c9c;
	}

	.vid-icon{
		font-size: 7vw;
		color: #9c9c9c;
	}

	.img-vid-small{
		width: 100%;
		height: 40vw;
	}

	.select-text{
		font-size: 3.8vw;
	}

	.hr {
		margin-right: auto;
		margin-left: auto;
		display: block;
	  	border-bottom: 1px solid black;
	  	width: 95%;
	}

	.button-md-light{
		width: 100%;
		font-size: 11px;
	}

	.no-margin{
		margin: 0;
	}

	.vid-left {
	    z-index: 10000;
	    left: -5px;
	}

	/*.sombra-general{
		box-shadow: -5px 0px 11px -2px rgba(61,61,61,1);
	}*/

	/*.sombra-general{
		box-shadow: -5px 4px 3px -1px rgba(0,0,0,0.42);
	}*/

	.sombra-general{
		box-shadow: -4px 4px 3px -1px rgba(0,0,0,0.42);
	}

	.sombra-seccion{
		box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.30);
	}

	.sombra-seccion-fuerte{
		box-shadow: 0px 0px 0px 10px rgba(0,0,0,0.100);
	}

	#padre {
	    display: table;
	    height: 100%;
	}

	#padre-select {
	    display: table;
	    width: 100%;
	    height: 100%;
	}

	#hijo {
	    display: table-cell;
	    vertical-align: middle;
	}

	.font-title{
		margin-left: 4vw;
		margin-top: 7vw;
		font-size: 4.5vw; 
		font-weight: bold;
	}

	.lbl-select{
		margin-top: 7vw;
		font-size: 4vw;
		font-weight: bold;
	}

	.bg-vid{
	    background:url('../img/fondoVideos2.jpg') no-repeat;
		background-size: cover;
		background-position: center;
	}

	.margin-1{
		margin-top: 3vw;
	}

	.padd-txt-sel{
		padding-left: 2vw;
	}
}
